/* color Scheme: light blue, 
              dark blue, 
              light gray, 
              dark gray, 
              silver, 
              white. */

:root {
  --lightblue: rgb(83, 198, 233);
  --darkblue: rgb(30, 30, 202);
  --lightgray: rgb(191, 191, 199);
  --darkgray: rgb(58, 58, 65);
  --silver: rgb(123, 151, 156);
  --white: rgb(241, 241, 247);
  --neon-text-color: rgb(223, 142, 22);
  --neon-border-color: #08f;
}
@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

@import url("https://fonts.googleapis.com/css?family=Inconsolata|Noto+Serif|Open+Sans&display=swap");

@import url("https://fonts.googleapis.com/css?family=Great+Vibes&display=swap");

body {
  background-color: var(--darkgray);
}

/* snow effect */
.snowflake {
  color: #fff;
  font-size: 1em;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}
.snowflake:nth-of-type(10) {
  left: 25%;
  -webkit-animation-delay: 2s, 0s;
  animation-delay: 2s, 0s;
}
.snowflake:nth-of-type(11) {
  left: 65%;
  -webkit-animation-delay: 4s, 2.5s;
  animation-delay: 4s, 2.5s;
}
/* end snow */

.header,
.web {
  display: inline-flex;
  justify-content: space-around;
  margin: 3% 20% 2% 5%;
}
.tagline {
  color: var(--lightblue);
  font-size: 250%;
  font-family: "Noto Serif", serif;
}
.instruction {
  color: var(--white);
  font-family: "Inconsolata", monospace;
}

.footlink {
  padding: 10px 20px;
  background-color: var(--silver);
  text-decoration: none;
  font-size: 30px;
  display: inline-block;
  color: var(--darkgray);
  margin: 2%;
  border: 3px solid var(--darkblue);
  border-radius: 20px;
}
.footlink:hover {
  background-color: var(--lightgray);
  color: var(--darkblue);
}

.pinktext a {
  color: hotpink;
  text-decoration: none;
}

.pinktext a:hover {
  background-color: white;
  color: hotpink;
  padding: 5px;
  border-radius: 20px;
}

.app {
  text-align: center;
}

.top {
  color: var(--silver);
  margin: 1% 10%;
  padding: 2rem 3rem;
  font-size: 90px;
  font-family: "Great Vibes", cursive, arial;
}

.neon {
  font-family: "Exo 2", sans-serif;
  color: rgb(221, 121, 90);
  padding: 2.8rem 4.5rem;
  border: 0.2rem solid rgb(199, 217, 250);
  border-radius: 1.5rem;
  text-transform: uppercase;
  animation: flicker 4.5s infinite alternate;
  background-color: black;
  font-size: 60px;
}

.neon-link {
  text-decoration: none;
}

.neon-link:hover {
  cursor: progress;
}

.neon::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.neon::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.neon:focus {
  outline: none;
}

/* Animate neon flicker */
@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem rgb(155, 136, 136),
      0.2rem 0.2rem 1rem rgb(141, 125, 125), 0 0 1rem var(--neon-text-color),
      0 0 2rem var(--neon-text-color), 0 0 3rem var(--neon-text-color),
      0 0 4rem var(--neon-text-color), 0 0 5rem var(--neon-text-color);

    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
      0 0 1rem var(--neon-border-color), inset 0 0 1rem var(--neon-border-color),
      0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}

.mobile {
  display: none;
}

.link {
  padding: 20px;
  margin: 5%;
  background-color: var(--white);
  text-decoration: none;
  border-radius: 60px;
  font-size: 30px;
  display: inline-block;
  color: var(--darkblue);
  border: 2px solid black;
  font-family: "Inconsolata", monospace;
}

.link:hover {
  background-color: var(--lightblue);
  border: 2px solid white;
}

/*
 * Just a quick hamburger
 */
.sideNav {
  color: #10fd08;
  position: absolute;
  top: 12px;
  left: -3px;
  background-color: black;
  padding: 5px 10px 5px 5px;
  border-radius: 10px;
}

#menuToggle {
  display: block;
  position: relative;
  top: 105px;
  left: 10px;
  padding: 0 80px 0 0;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 43px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #10fd08;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #f30303;
  width: 33px;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
  width: 33px;
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
  width: 33px;
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 50px 0 -20px;
  padding: 10px 20px 50px 20px;
  font-family: "Open Sans", sans-serif;
  background: #f4a4f7;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 7px 1px;
  font-size: 17px;
  font-family: "Noto Serif", serif;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
  margin: -100px 50px 0 -5px;
  border: 1px solid black;
}

@media screen and (max-width: 900px) {
  .top {
    padding: 1rem 1.5rem;
    font-size: 30px;
    margin: 7%;
  }
  .neon {
    font-size: 40px;
    padding: 2rem 3rem;
  }
  .mobile {
    display: none;
  }
}

@media screen and (max-width: 595px) {
  .header {
    display: inline-flex;
    flex-direction: column;
    margin: 2% auto;
  }
  .neon {
    font-size: 30px;
    padding: 3rem 2rem;
  }

  .web {
    display: none;
  }
  .mobile,
  .top {
    display: block;
    font-size: 2.2em;
  }
}
