/* color Scheme: light blue, 
              dark blue, 
              light gray, 
              dark gray, 
              silver, 
              white. */

:root {
  --lightblue: rgb(83, 198, 233);
  --darkblue: rgb(30, 30, 202);
  --lightgray: rgb(191, 191, 199);
  --darkgray: rgb(58, 58, 65);
  --silver: rgb(123, 151, 156);
  --white: rgb(241, 241, 247);
}
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Noto+Serif|Open+Sans&display=swap");

.about {
  background-color: var(--darkblue);
  color: var(--lightgray);
  text-align: center;
  padding:4%;
  font-family: 'Noto Serif', serif;

}

.intro {
  background-color: rgb(22, 22, 22);
  color: rgb(197, 190, 190);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.myface {
  max-width: 450px;
  margin: 5% auto;
  padding: 10px;
}
.h2top {
  font-size: 60px;
  color: white;
  margin: 25% auto 10%;
}
.responsive {
  width: 100%;
  height: 100%;
}

.intro1 {
  font-size: 27px;
  text-align: center;
  width: 49%;
}

.h2top,
.intro1 {
  text-align: center;
}

@media screen and (max-width: 1160px) {
  .intro1 {
    width: 90%;
    margin:0 auto;
  }
}

@media screen and (max-width: 980px) {
  .h2top,
  .intro1 {
    width: 75%;
    margin: 3% 12%;
    padding: 5px;
  }

  .h2top {
    font-size: 35px;
  }
  .intro1 {
    font-size: 22px;
  }
}

@media screen and (max-width: 630px) {
  .myface {
    max-width: 300px;
    padding: 10px 65px;
  }
}


@media screen and (max-width: 430px) {
  .myface {
    max-width: 80%;
    height: auto;
    padding: 10px;
  }
  .h2top{
    margin:2% auto;
    padding:0;
    width: 80%;
  }
}

@media screen and (max-width: 430px) {
  .h2top{
    font-size:25px;
    margin: 0;
    padding:0;
  }
}