/* color Scheme: light blue, 
              dark blue, 
              light gray, 
              dark gray, 
              silver, 
              white. */

:root{
  --lightblue: rgb(83, 198, 233);
  --darkblue: rgb(30, 30, 202);
  --lightgray: rgb(191, 191, 199);
  --darkgray: rgb(58, 58, 65);
  --silver: rgb(123, 151, 156);
  --white: rgb(241, 241, 247);
}

svg{
  padding:0 0 0 25px;
  color:var(--darkblue);
}

.space{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color:black;
  width:250px;
}
.biz{
    background-color: var(--lightblue);
    padding:3%;
    display:flex;
    flex-direction: column;
}

img{
  padding:10px 0 0 0 ;
  margin:0 0 10px 25px;
  align-items: flex-end;
}



.bizlink:hover{
  background-color: var(--lightgray);
  border:1px solid white;
  padding: 17px;
}


.up{
  color:black;
  align-items: flex-start;
  padding:0 0 20px 0;
}


.biss{
  margin:0 auto;
  
}