/* color Scheme: light blue, 
              dark blue, 
              light gray, 
              dark gray, 
              silver, 
              white. */

:root{
  --lightblue: rgb(83, 198, 233);
  --darkblue: rgb(30, 30, 202);
  --lightgray: rgb(191, 191, 199);
  --darkgray: rgb(58, 58, 65);
  --silver: rgb(123, 151, 156);
  --white: rgb(241, 241, 247);
}

svg{
  padding:0 0 0 25px;
}

.space{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.biz{
    background-color: var(--lightblue);
}

img{
  padding:3px;
  margin:0 0 0 30px;
  align-items: baseline;
}



.bizlink:hover{
  background-color: var(--lightgray);
  border:2px solid white;
  padding: 15px;
}