/* color Scheme: light blue, 
              dark blue, 
              light gray, 
              dark gray, 
              silver, 
              white. */

:root {
  --lightblue: rgb(83, 198, 233);
  --darkblue: rgb(30, 30, 202);
  --lightgray: rgb(191, 191, 199);
  --darkgray: rgb(58, 58, 65);
  --silver: rgb(123, 151, 156);
  --white: rgb(241, 241, 247);
}
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Noto+Serif|Open+Sans&display=swap');

.biz {
  background-color: var(--lightblue);
  padding: 4%;
  font-family: 'Inconsolata', monospace;
}

.title {
  text-align: center;
  font-size: 40px;
}

svg {
  padding: 0 0 0 25px;
  color: var(--darkblue);
}

.space {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: black;
  width: 250px;
}
.cards {
  margin: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}

img {
  padding: 0 0 2%;
  margin: 0 0 10px 25px;
  align-items: flex-end;
}

.bizlink,
.up {
  padding: 30px 0 20px 80px;
  margin: 5%;
  background-color: var(--lightgray);
  text-decoration: none;
  border-radius: 60px;
  font-size: 30px;
  display: inline-block;
  color: var(--darkblue);
  text-align: center;
  border: 1px solid black;
}

.bizlink:hover {
  background-color: var(--silver);
  border: 1px solid white;
}

.up {
  color: black;
}

.biss {
  margin: 0 auto;
}

.bislink{
  padding: 50px;
  margin: 5%;
  background-color: var(--silver);
  text-decoration: none;
  border-radius: 60px;
  font-size: 25px;
  display: inline-block;
  color: black;
  text-align: justify;
  border: 2px solid black;
  font-family: 'Inconsolata', monospace;

}

.unspace{
   display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding:0 10px;

}

.cert{
  text-decoration: none;
}

.cert:hover{
  background-color: var(--lightgray);
  border: 2px solid white;
}


.bispic{
  padding:0 30px 5px 0;
}

@media screen and (max-width: 795px) {
  .biz {
    margin: 1% 5% 1% 10%;
    flex-direction: column;
  }

  .title {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 20px;
  }
  .biss {
    padding: 1px;
  }
  .bizlink,
  .up {
    padding: 8px 1px 1px 30px;
    width: 80%;
  }
  .bislink{
  padding: 10px;
  }
}
@media (max-width: 380px) {
  .title {
    font-size: 20px;
  }
  .biss {
    padding: 1px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .up,
  .bizlink {
    padding: 0;
    font-size: 20px;
    margin: 2% 0;
  }
  .space {
    margin: 0;
    padding: 15px 1px 1px 15px;
  }
  .bislink{
  padding: 1px;
  margin:3% 0;
  }
  .bispic{
    padding:5px;
    margin: 0;
  }
}
@media (max-width: 300px) {
  .title {
    font-size: 15px;
    margin: 20% 5%;
  }

  .up,
  .bizlink,
  .bislink {
    padding: 10px 0;
    font-size: 20px;
    margin: 2% 0;
    background-color: var(--lightblue);
    border: none;
  }
  .space {
    margin: 0;
    padding: 0;
    width:auto;
  }
  .bizlink:hover,
  .bislink:hover {
    
    background-color: var(--lightgray);
    border: none;
  }
  
}
