/* color Scheme: light blue, 
              dark blue, 
              light gray, 
              dark gray, 
              silver, 
              white. */

:root{
  --lightblue: rgb(83, 198, 233);
  --darkblue: rgb(30, 30, 202);
  --lightgray: rgb(191, 191, 199);
  --darkgray: rgb(58, 58, 65);
  --silver: rgb(123, 151, 156);
  --white: rgb(241, 241, 247);
}




.home{
    background-color: var(--lightgray);
    padding:4%;
}

.big{
  font-size:20px;
}

.me{
  display: inline-flex;
  align-items: center;
}

.smallpic{
  margin:0 10px 0 0;
}

.list{
  padding: 0px 10px 40px 0;
  list-style-type: none;
}


.homeMid{
  margin:8%;
}

.homeMid2{
  margin:10%;
  padding:10px 0 0 ;
}


.homeMid3{
  padding:50px 0 0 ;
  margin:3%;
}