/* color scheme */

:root{
  --lightblue: rgb(83, 198, 233);
  --darkblue: rgb(30, 30, 202);
  --lightgray: rgb(191, 191, 199);
  --darkgray: rgb(58, 58, 65);
  --silver: rgb(123, 151, 156);
  --white: rgb(241, 241, 247);
}

.projpage{
  background-color: var(--silver);
  padding:4% 2%;

}


.project{
  background-color: var(--lightblue);
  width:99%;
  border-radius: 28px;
  margin:4% 0;
  padding:20px 0;
}


p{
  margin:5%;
  padding:20px;
}

.plink{
  text-decoration: none;
  background-color: var(--silver);
  padding:15px;
  border:1px solid var(--white);
  border-radius: 20px;
  margin:3% 0 5%;
  color:var(--darkblue);
  display: inline-block;
}


.plink:hover{
  background-color: var(--darkblue);
  color:var(--silver);
  
}


@media screen and (max-width:410px){
  .slide{
    margin:40% 20% 0;
    color:white;
  }

}


@media screen and (max-width:200px){

  .projtitle{
    font-size:20px;
  }
  .slide{
    margin:70% 20% 0;
    color:white;
  }
}