:root {
  --lightblue: rgb(83, 198, 233);
  --darkblue: rgb(30, 30, 202);
  --lightgray: rgb(191, 191, 199);
  --darkgray: rgb(58, 58, 65);
  --silver: rgb(123, 151, 156);
  --white: rgb(241, 241, 247);
}

@import url('https://fonts.googleapis.com/css?family=Inconsolata|Noto+Serif|Open+Sans&display=swap');

.secret-box {
  margin: 4%;
  background-color: var(--silver);
  padding: 50px;
  border-radius: 3px;
  font-family: 'Noto Sans', sans-serif;
}

.gif-box {
  background-color: var(--darkblue);
  border-radius: 100px;
  padding: 30px;
}

.giffygif {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 60px;
  height: 0;
  overflow: hidden;
}

.giffygif iframe,
.giffygif object,
.giffygif embed {
  top: 0;
  left: 5px;
  width: 95%;
  height: 95%;
  position: absolute;
}

.glink {
  margin: -60px 0;
  padding: 0;
  color: var(--darkblue);
}

.glink:hover,
.glink:focus,
.glink:active {
  background-color: var(--darkblue);
  color: var(--white);
  padding: 10px;
  border-radius: 10px;
}

.openlist {
  text-align: center;
  list-style-type: none;
}


.wiz {
  background-color: var(--lightblue);
  padding: 20px;
  border-radius: 20px;
  border: 3px solid black;
}

.scrt-link{
    text-decoration: none;
}