:root {
  --lightblue: rgb(83, 198, 233);
  --darkblue: rgb(30, 30, 202);
  --lightgray: rgb(191, 191, 199);
  --darkgray: rgb(58, 58, 65);
  --silver: rgb(123, 151, 156);
  --white: rgb(241, 241, 247);
}


.secret-box{
    margin:4%;
    background-color: var(--silver);
    padding:50px;
    border-radius:3px;

}

.gif-box{
    width: 90%;
    height: auto;
    background-color: var(--darkblue);
    margin:0 auto;
    border-radius: 100px;

}

.giffygif {
    width:100%;
    height:auto;
    
}

.gify-embed{
    width:500px;
}