

.showbox{
    height:210px;
    width:310px;
    margin:50px 30px 50px 60px;
    padding:20px;
}


.slides{
    max-height: 200px;
    max-width: 280px;
    margin:5% 2% 2% 0;
    padding:10px;
}


